/* 
Use the selectors below to create the following:

- images are centered in the window
- the window has 60px padding all the way around
- images are arranged horizontally in window width 600px and above
- images are arranged vertically in window width below 600px
- images have 20px gap in between
- in horizontal arrangement the maximum width is 1000px
- in vertical arrangement the maximum width is 100px

Reference: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

section {
    padding: 60px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flex {
    display: flex;
    max-width: 1000px;
    gap: 20px;
}

@media (max-width: 600px) {
    #flex {
        max-width: 100px;
        flex-direction: column;
    }
}