* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

section {
    padding: 60px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flex {
    display: flex;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
}

@media (max-width: 600px) {
    #flex {
        max-width: 100px;
        flex-direction: column;
    }
}